<section class="browse-genres">

    <h2>All Solos</h2>

    <p><a href="/browse/all">Browse all solos</a></p>
    <br>
    <h2>Browse by Genre</h2>

    <div class="genre-grid">
        <div class="genre-card">
            <a href="/browse/jazz"><img src="https://media.pitchfork.com/photos/5929b17613d197565213a60b/1:1/w_600/8b1f0d01.jpg" alt=""></a>
            <p><a href="/browse/jazz">Jazz</a></p>
        </div>
        <div class="genre-card">
            <a href="/browse/soul-funk"><img src="https://e.snmc.io/i/600/w/9c406e3a1b0a03416702cff5ce135dec/1955587" alt=""></a>
            <p><a href="/browse/soul-funk">Soul/Funk</a></p>
        </div>
        <div class="genre-card">
            <a href="/browse/latin"><img src="https://img.discogs.com/Pkq8WQJ9aoY_09oJ4Ou8PJRPhE8=/fit-in/600x600/filters:strip_icc():format(jpeg):mode_rgb():quality(90)/discogs-images/R-404499-1295602057.jpeg.jpg" alt=""></a>
            <p><a href="/browse/latin">Latin</a></p>
        </div>
        <div class="genre-card">
            <a href="/browse/afro"><img src="https://img.discogs.com/suIyNUBiAECYcjlRS7skbxLZb5s=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-120292-1287798851.jpeg.jpg" alt=""></a>
            <p><a href="/browse/afro">Afrobeat</a></p>
        </div>
        <div class="genre-card">
            <a href="/browse/rock"><img src="https://upload.wikimedia.org/wikipedia/en/c/cb/DisraeliGears.jpg" alt=""></a>
            <p><a href="/browse/rock">Rock</a></p>
        </div>
        <div class="genre-card">
            <a href="/browse/metal"><img src="https://upload.wikimedia.org/wikipedia/en/f/f4/Ridetl.png" alt=""></a>
            <p><a href="/browse/metal">Metal</a></p>
        </div>

    </div>


</section>

