<h1>Create Account</h1>


<form action="/create_account" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Email</label>
    <input type="text" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Submit</button>
</form>