<div class="create-account-page">

        <form action="/create_account" method="post" class="account-form">
            <label for="">Username</label>
            <input type="text" name="username">
            <label for="">Email</label>
            <input type="text" name="email">
            <label for="">Password</label>
            <input type="password" name="password">
            <button>CREATE ACCOUNT</button>
        </form>

    <p>Already have an account? <a href="/login">Sign in here.</a></p>
</div>