<section class="welcome-grid">

    <div class="homepage-text-container">
        <h1>Discover Great Solos</h1>
        <p>Every music lover can appreciate a great solo. The solo is a chance for a musician to express themselves beyond the music that's already written on the page, or at least between the lines of it. A truly great, memorable solo isn't necessarily even about technical virtuosity (although, that can help). It's about the vibe, man. </p>
        <p>Solos are a staple of many modern genres, but the concept of the solo dates back to at least the Baroque and Classical music of the 18th century. They were letting loose on harpsichords and stuff, man.</p> 
        <p>Apart from anything else, solos are just fun. Ask yourself: has a solo ever made a song <em>worse</em>?</p>
    </div>

    <div class="homepage-img-container">
        <img class="homepage-img" src="https://media4.s-nbcnews.com/j/newscms/2018_13/2382141/180330-jimi-hendrix-al-1123_d2d2f67043297b8273c63f6ec2d96e83.fit-760w.jpg" alt="jimi hendrix">
    </div>

</section>

