<h1>WikiSolo</h1>

<a href="/solo/new">Submit</a>

<% posts.each do |post| %>

    <p>
        <a href="/solo/<%= post['post_id'] %>"><%= post['artist']%> - <%= post['track'] %></a>
    </p>

<% end %>