<section class="welcome-grid">

    <div class="homepage-text-container">
        <h1>Lorem ipsum dolor</h1>
        <h3>"Guitar solos, to me, should be a really articulate way to make fun of guitar solos." - Josh Homme.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quis ratione, assumenda deserunt velit in vitae id voluptatibus eius cupiditate quae, aperiam nobis ad vel at nostrum aspernatur. Debitis, assumenda!</p>
    </div>

    <div class="homepage-img-container">
        <img class="homepage-img" src="https://avantmusicnews.files.wordpress.com/2018/06/coltrane-documentary-mosaic_records_francis_wolff.jpg" alt="coltrane-by-francis-wolff">
    </div>

</section>

