<section class="genre-page">

    <h2>Latin Solos</h2>

    <% latin_posts.each do |post| %>
            <div>
            <p><a href="/solo/<%= post['post_id'] %>"><%= post['artist']%> - <%= post['track'] %></a></p>
            </div>

        <% end %>

</section>