<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WikiSolo</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <% if logged_in? %>

            <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete"> 
              <button class="login-logout-btn">Sign Out</button>
            </form>

            <p class="logged-in">Hi, <%= current_user()['username'] %></p>


            
    <% end %>

  

      <% if !logged_in? %>

      <form action="/login" method="get">
        <button class="login-logout-btn">Sign In</button>
      </form>

      <% end %>



  <div style="clear: both;"></div>

  <div class="topnav" id="myTopnav">
    <a href="/" class="">WikiSolo</a>
    <a href="/browse">Browse</a>
    <a href="/solo/new">Submit</a>
    <a href="#about">About</a>
    <div class="search-container">
      <form class="search-form" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit">Go</button>
      </form>
    </div>
    
      
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>


  <%= yield %>

</body>
</html>
