<div class="login-page">

    <h1>Login</h1>

    <form action="/login" method="post" class="login-form">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <button>Submit</button>

    </form>

    <p>Don't have an account? <a href="/account/new">Sign up here.</a></p>

</div>