<h1>Login</h1>

<form action="/login" method="post">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Submit</button>

</form>