<section class="submit-page">

    <h1>Submit a Solo</h1>


    <form action="/create" method="post" class="submit-form">

        <label for="">Artist*</label>
        <input type="text" name="artist" required>
        <label for="">Song Title*</label>
        <input type="text" name="track" required>
        <label for="">Genre</label>
        <input type="text" name="genre">
        <label for="">Soloist</label>
        <input type="text" name="soloist">
        <label for="">Instrument</label>
        <input type="text" name="instrument">
        <label for="">Year*</label>
        <input type="text" name="year" required>
        <label for="">Solo Starts At*</label>
        <input type="text" name="solo_start" placeholder="mm:ss" required>
        <label for="">YouTube Embed Code*</label>
        <input type="text" name="youtube_url" required>
        <button>Submit</button>

    </form>

</section>

