<h1>Submit a Solo</h1>


<form action="/create" method="post">

    <label for="">Artist</label>
    <input type="text" name="artist">
    <label for="">Song Title</label>
    <input type="text" name="track">
    <label for="">Genre</label>
    <input type="text" name="genre">
    <label for="">Instrument</label>
    <input type="text" name="instrument">
    <label for="">Year</label>
    <input type="text" name="year">
    <label for="">Solo Starts At</label>
    <input type="text" name="solo_start" placeholder="mm:ss">
    <label for="">YouTube URL</label>
    <input type="text" name="youtube_url">
    <button>Submit</button>

</form>

