/* PALETTE HEX
blue: #2D72FE
lighter blue: #B3CCFB
lightest blue: #EDF1FA
yellow: #FFFF02

 */

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

body {
    background-color: white;
    color: black;
}


.logged-in {
    float: right;
    margin-top: 0.36rem;
    margin-right: .7rem;
}

.login-logout-btn {
    padding: 0.2rem 0.8rem;
    margin-top: .2rem;
    margin-bottom: 3px;
    font-size: .95rem;
    float: right;
    border: none;
    background: none;
}

.login-logout-btn:hover {
    cursor: pointer;
}

.username {
    color:#118ab2ff;
}


iframe {
    /* override other styles to make responsive */
    width: 100% !important;
    height: 100% !important;
}

/* text/image select color */
::selection {
    background-color:#bfdbf7ff;
    color: black;
}

/* index */

.welcome-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.homepage-img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
}

.homepage-text-container {
    padding: 3rem;
}

.homepage-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 0.9rem;
}

.topnav {
    display: grid;
    background-color: #222222;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.topnav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

.topnav a:first-child {
    text-align: left;
    color: #FFFF02;
}


.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}


/* login */

.login-page {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    width: 40%;
    padding: 1rem 8rem;
}

.login-page h1 {
    text-align: center;
}

.login-page a {
    color: #118ab2ff;
}

.login-form {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2rem;
}

.login-form button {
    margin-top: 1rem;
    padding: .5rem;
    color: #2D72FE;
}

.login-form button:hover {
    cursor: pointer;
}

.login-form input {
    padding: 0.5rem;
}


/* create account */

.create-account-page {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem auto;
    width: 44%;
    padding: 1rem 8rem;
}

.create-account-page h1 {
    text-align: center;
}

.account-form {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2rem;
}

.account-form button {
    margin-top: 1rem;
    padding: .5rem;
    color: #2D72FE;
}

.account-form button:hover {
    cursor: pointer;
}

.account-form input {
    padding: 0.5rem;
}

/* new / submit solo */

.submit-page {
    display: grid;
    grid-template-columns: 1fr;
    width: 45%;
    margin: 1rem auto;
    padding: 1rem 8rem;
}

.submit-page h1 {
    text-align: center;
}

.submit-form {
    display: grid;
    grid-template-columns: 1fr;
    line-height: 2rem;
}

.submit-form button {
    margin-top: 1rem;
    padding: .5rem;
    color: #2D72FE;
    background: none;
}

.submit-form button:hover {
    cursor: pointer;
}

.submit-form input {
    padding: 0.5rem;
}

/* browse */

.browse-genres {
    padding: 1rem 3rem;
}

.genre-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin-top: 3rem;
}

.genre-card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 1rem;
}

.genre-card img {
    width: 100%;
}

.genre-card p {
    padding: 0 2rem;
}


/* genre pages */

.genre-page {
    padding: 1rem 3rem;
}


/* details */

.details-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 3rem;
}

.details-page iframe {
    margin-top: 1.5rem;
}

.details-card {
    padding: 0 2rem;
}

.details-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem 5rem;
    margin-top: 3rem;
}

.author-btn {
    margin: 0.5rem 0;
}